body {
    background-color: blanchedalmond;
    margin-right: auto;
    margin-left: auto;
    padding-top: 20pt;
    padding-left: 20pt;
    padding-right: 20pt;
    padding-bottom: 10pt;
    width: 900px;
    font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic'
  }

  .h1 {
    color: #7ea73c;
    text-align:center;
font-family:Arial Black ;
background-color: #fffdf2;
  }

  p.style1{
      padding-left: 15pt;
      padding-right: 15pt;
      font-size: 17px;
    }

  .area {
    width: 900px;
    margin-top: 10pt;
    margin-left:auto;
    margin-right: auto;
    flex-wrap: wrap;
    display: flex;
    background-color: #fffdf2;
  }
   
  .tab_class {
    width: calc(100%/6);
    height: 50px;
    background-color: rgb(190, 228, 120);
    line-height: 50px;
    font-size: 20px;
    text-align: center;
    display: block;
    float: left;
    order: -1;
  }
   
  input[name="tab_name"] {
    display: none;
  }
   
  input:checked + .tab_class {
    background-color: cadetblue;
    color: aliceblue;
  }
   
  .content_class {
    display: none;
    width: 100%;
    margin: 20pt;
  }
   

  input:checked + .tab_class + .content_class {
    display: block;
  }

.img{
    vertical-align: top;
}

.p{
    font-size: 17px
}
.style2{
      padding-left: 40pt;
      padding-right: 40pt;
      font-size: 18px;
    line-height:30px;
    }

h2{
　text-align:center;
}

h3{
    padding-left: 20pt;
    padding-top: 10pt;
}


p.title {
  border-left :solid 5px orange;
  border-bottom: solid 1px gray;
  /*余白をつけておきます*/
  padding: 10px;
}

ul {
  padding: 0;
  position: relative;
     margin-left: 20pt;
     margin-right: 100pt;
    
}

ul li {
 color: #2d8fdd;
  border-left: solid 6px #2d8fdd;/*左側の線*/
  background: #f1f8ff;/*背景色*/
  margin-bottom: 3px;/*下のバーとの余白*/
   line-height: 1.5;
  padding: 0.5em;
  list-style-type: none!important;/*ポチ消す*/
}

.area1 {
    width: 900px;
    margin-top: 10pt;
    margin-left:auto;
    margin-right: auto;
    margin-bottom: 10pt;
    flex-wrap: wrap;
    background-color: #fffdf2;
  }

